.button {
  font-weight: bold;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 36px;
}

@each $name, $props in $buttons {
  .button--#{$name} {
    background-color: map-get($props, background);
    color: map-get($props, color);
    border: map-get($props, border);
  }
}

body.dark {
  @each $name, $props in $buttons-dark {
    .button--#{$name} {
      background-color: map-get($props, background);
      color: map-get($props, color);
      border: map-get($props, border)
    }
  }
}
