$sm: 620px;
$md: 820px;
$lg: 1200px;

@mixin sm {
  @media(max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}
