$primary-color: #2727a3;
$element-color: #A5AFF9FF;
$text-color-light: #fdfdfd;
$text-color-dark: #213546;
$section-color: #f5f5f5;
$sidebar-color: #f7f7f7;
$placeholder-color: #e2e2e2;
$footer-color: #101626;
$inactive-link-color: #eae9f3;
$hover-color: rgba(0,0,0,0.1);
