@use './mixins';
@import 'normalize.css';
@import './variables';
@import './buttons';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: 1.5s fade-in;
}

html, body, #root {
  margin: 0;
  padding: 0;
  max-width: none;
}

.home-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__header {

    .container {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }

    h1 {
      text-align: left;
      margin: 0;
    }
  }

  .container {
    width: 1140px;
    margin: 0 auto 30px auto;
    display: flex;
    gap: 30px;

    @include mixins.lg {
      width: 800px;
      flex-direction: column-reverse;
      gap: 20px;
    }

    @include mixins.md {
      width: 600px;
    }

    @include mixins.sm {
      width: 350px;
    }

  }
  &__text-section {
    text-align: left;

    &.container{
      flex-direction: column;
      gap: 0;
      justify-content: center;
      margin-bottom: 20px;
    }

    &--header {
      margin: 0;
    }

    &--text {
      font-size: 14px;
      line-height: 1;
      margin: 0;
      padding-bottom: 20px;
      padding-top: 5px;
    }

    &--buttons {
      display: flex;
      gap: 20px;
    }
  }

  &__header {
    background-color: $primary-color;
    width: 100%;
    color: $neutral-color;
    margin-bottom: 15px;

    @include mixins.sm {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    gap: 20px;

    @include mixins.lg {
      gap: 20px;
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      gap: 30px;

      @include mixins.sm {
        flex-direction: column;
        gap: 30px;
      }

      &--top {
        justify-content: space-between;

        @include mixins.md {
          justify-content: space-around;
        }

      }

      &--bottom {
        .cards__item:last-child {
          margin-left: auto;

          @include mixins.sm {
            margin: 0;
          }
        }
      }

      .cards__item {
        flex: 0 0 20%;
        text-align: left;

        @include mixins.md {
         flex: 0 0 30%;
        }

        &--picture {
          height: 159px;
          display: block;
          background-color: $placeholder-color;
          position: relative;
          cursor: pointer;

          @include mixins.sm {
            width: 60%;
          }


            &::after {
              content: '';
              width: 90%;
              height: 90%;
              background-color: $hover-color;
              position: absolute;
              top: 8px;
              left: 8px;
              opacity: 0;
              transition: opacity 2s;
            }

          &:hover::after {
            opacity: 1;
          }
        }

        &--title {
          margin-bottom: 0;
          margin-top: 10px;
        }

        &--text {
          margin: 0;
        }
      }
    }
  }
  &__section {
    background-color: $section-color;
    border-radius: 8px;
    padding: 30px;

    &--header {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      h2 {
        margin: 0;
      }
    }
  }
  .home-page__sidebar {
    flex: 0 0 25%;
    background-color: $sidebar-color;
    border-radius: 8px;
    text-align: left;
    padding: 30px;

    @include mixins.lg {
      padding: 20px 20px 0 20px;
    }

    h2 {
      margin: 0;
    }

    &--list {
     list-style: none;
      padding: 20px;
      margin: 0;

      @include mixins.lg {
        display: flex;
        gap: 40px;
      }

      @include mixins.sm {
        flex-direction: column;
        gap: 0;
      }

    }
    &--item {
      counter-increment: sidebar-item;
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;

      &::before {
        content: counter(sidebar-item);
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        color: $element-color;
        background-color: $inactive-link-color;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
      }

      &--active::before {
        background-color: $primary-color;
        color: $neutral-color;
      }

    }

    &--link {
      color: black;
    }
  }

  &__footer {
    margin-top: auto;
    background-color: $secondary-color;
    color: $neutral-color;

    .container {
      margin: 0 auto;
    }

    @include mixins.lg {
      text-align: left;
    }
  }
}

//dark mode

body.dark {
  .home-page {
    background-color: $background-color-dark-mode;
    color: $neutral-color;

    &__header {
      background-color: $header-color-dark-mode;
    }

    &__section {
      background-color: $section-color-dark-mode;

      .cards__item--picture {
        background-color: $placeholder-color-dark-mode;
      }
    }

    &__sidebar {
      background-color: $section-color-dark-mode;

      &--item {
        &::before {
          background-color: $element-color-dark-mode;
          color: $neutral-color;
        }

        &--active::before {
          background-color: $neutral-color;
          color: $element-color-dark-mode;
        }
      }

      &--link {
        color: $neutral-color;
      }
    }

    &__footer {
      background-color: $header-color-dark-mode;
    }
  }
}
