@import 'normalize.css';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  max-width: none;
}

.home-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 30px;

    h1 {
      text-align: left;
    }
  }

  &__header {
    background-color: $primary-color;
    width: 100%;
    color: $text-color-light;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    gap: 30px;

    .cards {
      display: flex;
      gap: 30px;

      &--top {
        justify-content: space-between;
      }

      &--bottom {
        .cards__item:last-child {
          margin-left: auto;
        }
      }

      .cards__item {
        flex: 0 0 20%;
        text-align: left;

        &--picture {
          height: 159px;
          display: block;
          background-color: $placeholder-color;
          position: relative;
          cursor: pointer;

            &::after {
              content: '';
              width: 140px;
              height: 140px;
              background-color: $hover-color;
              position: absolute;
              top: 10px;
              left: 10px;
              opacity: 0;
              transition: opacity 2s;
            }

          &:hover::after {
            opacity: 1;
          }
        }

        &--title {
          margin-bottom: 0;
          margin-top: 10px;
        }

        &--text {
          margin: 0;
        }
      }
    }
  }
  &__section {
    background-color: $section-color;
    border-radius: 8px;
    padding: 30px;

    &--header {
      text-align: left;

      h2 {
        margin-top: 0;
      }
    }
  }
  .home-page__sidebar {
    flex: 0 0 25%;
    background-color: $sidebar-color;
    border-radius: 8px;
    text-align: left;
    padding: 30px;

    h2 {
      margin: 0;
    }

    &-list {
     list-style: none;
      padding: 20px;
      margin: 0;
    }
    &-item {
      counter-increment: sidebar-item;
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;

      &::before {
        content: counter(sidebar-item);
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        color: $element-color;
        background-color: $inactive-link-color;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
      }

      &--active::before {
        background-color: $primary-color;
        color: $text-color-light;
      }

    }

    &-link {
      color: black;
    }
  }

  &__footer {
    margin-top: auto;
    background-color: $footer-color;
    color: $text-color-light;
    padding: 10px;
  }
}