@import 'normalize.css';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  max-width: none;
}

.home-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 30px;

    h1 {
      text-align: left;
    }
  }

  &__header {
    background-color: $primary-color;
    width: 100%;
    color: $text-color;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    gap: 30px;

    .cards {
      display: flex;
      gap: 30px;

      &--top {
        justify-content: space-between;
      }

      &--bottom {
        .cards__item:last-child {
          margin-left: auto;
        }
      }

      .cards__item {
        flex: 0 0 20%;
        text-align: left;

        &--picture {
          height: 159px;
          display: block;
          background-color: $placeholder-color;
        }

        &--title {
          margin-bottom: 0;
          margin-top: 10px;
        }

        &--text {
          margin: 0;
        }
      }
    }
  }
  &__section {
    background-color: $section-color;
    border-radius: 8px;
    padding: 30px;

    &--header {
      text-align: left;

      h2 {
        margin-top: 0;
      }
    }
  }
  .home-page__sidebar {
   flex: 0 0 25%;
   background-color: $sidebar-color;
   border-radius: 8px;
   text-align: left;
   padding-left: 30px;
  }

  &__footer {
    margin-top: auto;
    background-color: $footer-color;
    color: $text-color;
    padding: 10px;
  }
}